<section class = "skills">
    <h1>Skills</h1>
    <section class = "container">
        <section class = "section languages">
            <div class="header">
                <h2>Languages</h2>
            </div>
            <section class = "grid">
                <div class = "card">
                    <h3>Dutch</h3>
                    <p>★★★★★</p>
                </div>
                <div class = "card">
                    <h3>English</h3>
                    <p>★★★★★</p>
                </div>
                <div class = "card">
                    <h3>Spanish</h3>
                    <p>★</p>
                </div>
            </section>
        </section>
        <section class = "section programming">
            <section class = "grid">
                <div class = "card">
                    <h3>C# / .NET</h3>
                    <p>★★★★★</p>
                </div>
                <div class = "card">
                    <h3>Javacript / TypeScript</h3>
                    <p>★★★★</p>
                </div>
                <div class = "card">
                    <h3>Html/css</h3>
                    <p>★★★★</p>
                </div>
                <div class = "card">
                    <h3>Unity</h3>
                    <p>★★★★</p>
                </div>
                <div class = "card">
                    <h3>Agile / SCRUM</h3>
                    <p>★★★★</p>
                </div>
                <div class = "card">
                    <h3>C++</h3>
                    <p>★★</p>
                </div>
            </section>
            <div class="header">
                <h2>Programming</h2>
                <div class = "background"></div>
            </div>
        </section>
        <section class = "section other-skills">
            <div class="header">
                <h2>Other Skills</h2>
            </div>
            <section class = "grid">
                <div class = "card">
                    <h3>Learning</h3>
                    <p>★★★★★</p>
                </div>
                <div class = "card">
                    <h3>Communication</h3>
                    <p>★★★★</p>
                </div>
                <div class = "card">
                    <h3>Teamwork</h3>
                    <p>★★★★★</p>
                </div>
                <div class = "card">
                    <h3>Ticketing</h3>
                    <p>★★★★</p>
                </div>
                <div class = "card">
                    <h3>Problem solving</h3>
                    <p>★★★★</p>
                </div>
                <div class = "card">
                    <h3>Patience</h3>
                    <p>★★★</p>
                </div>
            </section>
        </section>    
    </section>
</section>
