<section class = "about-me" #aboutme>
    <h1>About me</h1>
    <section class = "cards">
        <div class = "fulltop hobbies card" #card>
            <h2>Hobbies</h2>
            <h3>Hobbies</h3>
            <p>
                I have quite a wide variety of interests. From global affairs and economics. To video games, programming and philosophy. I also like to spend time researching and learning about random topics like gardening, water filtration or farming. I am able to have conversations about a wide variety of topics. I am also never bored because there is always something more to learn. My biggest hobby, is programming. I have been increasing my skills in this area since I was 16 and will continue to do so for a long time to come.   
            </p>
        </div>
        <div class = "fulltop edu card" #card>
            <h2>Education</h2>
            <h3>Education</h3>
            <p>
                I love learning. There is nothing more fun than learning something and being able to put it into practice. That said, I am a very practical learner. I learn along the way. And repeating the tasks serves to strengthen the grasp I have on a topic. This is one of the reasons I don't have a formal higher education diploma. I went to Digital Art and Entertainment in Belgium to study game development for 2 years. But ultimately, I decided to drop out in favor of starting my professional career. I have not regretted this decision.   
            </p>
        </div>
        <div class = "fulltop personality card" #card>
            <h2>Personality</h2>
            <h3>Personality</h3>
            <p>
                My personality would be described as adaptable. When the chance arises to lighten the mood or to make someone laugh, I am the first to crack a joke. But in more serious situations, my demeanor will shift to a more pragmatic one. The only way tasks actually get done is with analysis and thorough discussion. But once the meeting is over, the interactions next to the coffee machine will be light and upbeat.
            </p>
        </div>
    </section>
</section>
