<section class = "about-me">
    <h1>About me</h1>
    <section class = "cards">
        <div class = "hobbies card">
            <h2>Hobbies</h2>
            <h3>Hobbies</h3>
            <p>
                My hobbies mostly include playing video games and programming.
                Video games have been at the core of my childhood, and I have found many friends and even a lover in the people I met online.
                It is no wonder, then, that my love for game development was the driving force behind my programming obsession. As it was that, that combined the 2. 
                Other than these 2 main Hobbies, I spent a substantial amount of time looking, reading and watching global politics. From the social to the economical side. It interests me how and why certain decisions were taken. And how i personally feel about those decisions. 
                <br><br>
                So in short, I love games and programming. But don't shy away from more global/deep topics when you are around me. I love a good debate like any other.
            </p>
        </div>
        <div class = "edu card">
            <h2>Education</h2>
            <h3>Education</h3>
            <p>
                The school system has always been a sore thumb for me. On the one hand, I absolutely love learning and am a sucker for random facts/ widespread knowledge. But on the other hand, I also really can't find myself learning stuff that I am not using. I learn by doing and experimenting. "Learning on the fly" as one might call it. This is why I don't have a higher education and absolutly loath going to get one. I learned more in the limited amount of professional experience than I have in the 2 years of higher education and 2 years of high school IT education combined. The only reason I would get a formal higher education is because job opportunities seem to be more frequent than they are right now.
            </p>
        </div>
        <div class = "personality card">
            <h2>Personality</h2>
            <h3>Personality</h3>
            <p>
                I would describe my personality as someone who is social in smaller groups. I work perfectly in a team setting, but large crowds make me a bit uncomfortable. In confined groups, you can expect me to be a bit of a clown when the setting allows it. But don't think I can't be serious! In meetings and discussions, pragmaticism is the key to a civil conversation and actual progress. In short, I adapt to the situation I am placed in, but I never miss an opportunity to lift the spirits of those around me.
            </p>
        </div>
    </section>
</section>
