<section class = "about-me">
    <h1>About me</h1>
    <section class = "cards">
        <div class = "hobbies card">
            <h2>Hobbies</h2>
            <h3>Hobbies</h3>
            <p>
                My hobbies mostly include playing video games and programming.
                Video games have been at the core of my childhood and I have found many friends, even a lover through it.

            </p>
        </div>
        <div class = "edu card">
            <h2>Education</h2>
            <h3>Education</h3>
            <p>

            </p>
        </div>
        <div class = "personality card">
            <h2>Personality</h2>
            <h3>Personality</h3>
            <p>
                
            </p>
        </div>
    </section>
</section>
