<section class = "web-development">
    <div class = "top">
        <h1>Web Development</h1>
        <p>My web-development story began not so long ago but I have improved leaps and bounds in the short time. Both backend and frontend are areas where I feel comfortable. And these showcase projects should reflect that.</p>
    </div>
    <input type="radio" name="slider" id="item-1" checked>
    <input type="radio" name="slider" id="item-2">
    <input type="radio" name="slider" id="item-3">
    <input type="radio" name="slider" id="item-4">
    <input type="radio" name="slider" id="item-5">
    <section class = "container">
        <label class = "p-da card" for = "item-1" id="card-1">
            <h1>Nowjobs - 1yr Proffesional experience</h1>
            <p>
                For 1 year I worked for the biggest growing app in Belgium. Here I worked on the backend REST Typescript server. My duties included writing maintainable code in the typescript microservice code base, upgrading the MySql database to fit the features needs. Resolving questions/problems from our non-IT collegues. All in a SCRUM (Jira) work enviroument. 
            </p>
            <p>
                Concepts shown: <br>
                - Typescript<br>      
                - Dependency Injection<br>
                - MySql<br>
                - Handling IT questions<br>
                - SCRUM (Jira)<br>
            </p>
            <p class = "stars">
                Difficulty: ★★★★★ <br>
                Amount Learned: ★★★★★
            </p>
            <section class = "images">
                <img src = "/assets/Nowjobs.png">
                <img src = "/assets/Nowjobs-2.png">
            </section>
        </label>
        <label class = "b-da card" for = "item-2" id="card-2">
            <h1>Happy dev REST backend</h1>
            <p>
                The Happy-dev REST backend server is made with C# ASP.NET CORE 8.0
                I did this to specifically show that I am comfortable quickly switching to a different language.
                The project also uses a SQL database to store its users data. The project includes things like authentication, authorization and microservice concepts. 
            </p>
            <p>
                Concepts shown: <br>
                - C#<br>      
                - Dependency Injection<br>
                - .NET<br>
                - SQL<br>
                - Microservices<br>
            </p>
            <p class = "stars">
                Difficulty: ★★ <br>
                Amount Learned: ★★★
            </p>
            <section class = "images">
                <img src = "/assets/backendScreenshot.png">
                <img src = "/assets/backendScreenshot2.png">
            </section>
        </label>
        <label class = "y-da card" for = "item-3" id="card-3">
            <h1>Happy dev website</h1>
            <p>This POC website is a longer term project. 
                It is a concept of a tool to help developers write, maintain and comment on code documentation.
                Every developer knows that this is one of the most labourius tasks to do.
                So this project showcases my induvidual skill of Front end Angular 17 skills. But also being able to brainstorm ideas and designs.
            </p>
            <p>
                Concepts shown: <br>
                - Angular<br>      
                - Dependency Injection<br>
                - HTML<br>
                - (S)CSS<br>
                - Typescript<br>
            </p>
            <p class = "stars">
                Difficulty: ★★★★ <br>
                Amount Learned: ★★★★★
            </p>
            <section class = "images">
                <img src = "/assets/happy-devs.png">
                <img src = "/assets/happy-devs2.png">
            </section>
        </label>
        <label class = "bl-da card" for = "item-4" id="card-4">
            <h1>This website</h1>
            <p>
                I think after looking at my website you realised I pulled out all the stops to make this website as attractive as possible.
                A lot of advanced CSS concepts are shown here. All to prove 1 thing. 
                I can learn and I learn fast.
                This website was made with only 3 weeks of CSS knowledge under my belt.
                So I hope that it this proved that correct and that it impressed some people.
            </p>
            <p>
                Concepts shown: <br>
                - Angular<br>      
                - Dependency Injection<br>
                - HTML<br>
                - (S)CSS<br>
                - Typescript<br>
            </p>
            <p class = "stars">
                Difficulty: ★★★ <br>
                Amount Learned: ★★★★★
            </p>
        </label>
        <label class = "y-da card" for = "item-5" id="card-5">
            <h1>ter-urbanism.com</h1>
            <p>
                This is the website that I made for an afluent urban architect that recently started to work as an independent contracter. The website was made with Wordpress as it was my first interaction with designing a production ready website. I configured everything from the domain to hosting. You can visit the site <a href="https://ter-urbanism.com/" target="_blank">here</a>
            </p>
            <p>
                Concepts shown: <br>
                - Wordpress<br>      
                - Hosting<br>
                - Domain setup<br>
                - Production readiness<br>
            </p>
            <p class = "stars">
                Difficulty: ★★★ <br>
                Amount Learned: ★★★★
            </p>
            <section class = "images">
                <img src = "/assets/ter-1.png">
                <img src = "/assets/ter-2.png">
            </section>
        </label>
    </section>
</section>