<section class = "projects">
    <section class = "inset">
        <h1>Projects</h1>

        <section class = "container">
            <div class = "card game-dev">
                <h2>Game Development</h2>
                <img src = "/assets/gameScreenshot.png">
                <p>Game development was my first contact with the programming world. 
                    When I was 16 years old, I felt the urge to create. 
                    Since video games were and still are my favorite media form. 
                    It was no surprise that this how I started. <br><br> 
                    Today this medium is still my most practiced in terms of hours. 
                    It is no surprise, then, that my knowledge in this area is quite advanced. 
                    I have dealt with 2D and 3D, single-player and multiplayer, backend and graphics programming. <br><br> 
                    The latest of these projects was a Multiplayer first-person shooter, where I built the entire networking framework by myself.
                    The challenge was exhilarating. 
                    You can find the project on my GitHub</p>
                <h3>2018 - present day</h3>
                <h4>★★★★</h4>
            </div>
            <div class = "card web-dev">
                <h2>Web Development</h2>
                <img src = "/assets/happy-devs.png">
                <p>Web development is something I got into relativly recently. 
                    This is about both webAPI's and websites.
                    I first came into contact with web development when I started working at Nowjobs (more about that in the Proffesional Experience section).
                    Although a huge leap from my then Game Development oriented carreer.
                    The world of web development immediatly captivated me.<br><br>
                    My biggest proof of concept here is in the project "Happy-Devs". 
                    A website that aims to make the experience of writing documentation understandable and more streamlined.

                    This project consist of an Angular 17.0 website that is aimed at PC and mobile use.
                    And a REST backend server that uses ASP.NET CORE 8.0 with a SQL database. The entire project is available on Github.
                </p>
                <h3>2021 - present day</h3>
                <h4>★★★★</h4>
            </div>
            <div class = "card">
                <h2>Proffesional Experience</h2>
            </div>
            <div class = "card">
                <h2>Github</h2>
            </div>
        </section>
    </section>
</section>
