@import "../../../assets/styles/colors";

.home {
    display: grid;
    grid-template: 1 4; 
    width: 100%;
    height: fit-content;
    background-color: $c-black;
    z-index: -1;

    .card {
        height: 100svh;
        width: 100%;

        scroll-snap-align: start;
    }
}