<section class = "game-development">
    <div class = "top">
        <h1>Game Development</h1>
        <p>Game development was my first contact with programming and the world of software. Starting with GameMaker (2018) and later switching to Unity (late 2019). I have extensive knowledge about game-development concepts both single and multiplayer, 2D and 3D. I hope these examples showcase this.</p>
    </div>
    <input type="radio" name="slider-g" id="item-g-1" checked>
    <input type="radio" name="slider-g" id="item-g-2">
    <input type="radio" name="slider-g" id="item-g-3">
    <input type="radio" name="slider-g" id="item-g-4">
    <input type="radio" name="slider-g" id="item-g-5">
    <section class = "container">
        <label class = "b-da card" for = "item-g-1" id="card-g-1">
            <h1>Sorcerers of Khan</h1>
            <p>
                This project is my most worked out example that I still have stored. This project combines a standalone server combined with a client to create a FPS hero like shooter.
                The project includes a self-developed networking layer build on top of Unity's transport layer.
                The game was ultimatly discontinued due to the huge complexity and time requirements. But it still serves as a nice showcase of my game-development skills. 
            </p>
            <p>
                Concepts shown: <br>
                - C#<br>      
                - Dependency Injection<br>
                - Unity<br>
                - Networking<br>
            </p>
            <p class = "stars">
                Difficulty: ★★★★★ <br>
                Amount Learned: ★★★
            </p>
            <section class = "images">
                <img src = "/assets/Khan-1.png">
                <img src = "/assets/Khan-2.png">
            </section>
        </label>
        <label class = "p-da card" for = "item-g-2" id="card-g-2">
            <h1>Almost Deterministic Movement FPS</h1>
            <p>
                Most of my programming journey consists of these type of projects. These projects are an attempt of me trying to fully understand a certain topic. Sadly most of these projects were made before I knew the value of source controll.
                This project tried to replicate a deterministic first person shooter. Meaning if the input is the same it will always result in the same output. Which is not true for most game-engines.
                It is playable and consists of a testing arena.
            </p>
            <p>
                Concepts shown: <br>
                - First person movement<br>      
                - Determinism<br>
                - Building testing setups<br>
                - Demoing / proof of concepting<br>
            </p>
            <p class = "stars">
                Difficulty: ★★★ <br>
                Amount Learned: ★★★★★
            </p>
            <section class = "images">
                <img src = "/assets/Deter-1.png">
                <img src = "/assets/Deter-2.png">
            </section>
        </label>
        <label class = "y-da card" for = "item-g-3" id="card-g-3">
            <h1>Public-GameRepo</h1>
            <p>
                This is an earlier version of the Sorcerers of Khan Repo where is learned a lot of concepts like multiplayer, transportlayer, 3 movement, etc.
                It is still a nice reminder that I evolved my skill over a decently short time period and that any challenge is possible.
                Although this project is also discontinued I think it is still worthy of looking at since this was the project that landed me my first job.
            </p>
            <p>
                Concepts shown: <br>
                - C#<br>      
                - Unity<br>
                - Multiplayer<br>
                - 3D<br>
            </p>
            <p class = "stars">
                Difficulty: ★★★★ <br>
                Amount Learned: ★★★★★
            </p>
            <section class = "images">
                <img src = "/assets/public-game-1.png">
                <img src = "/assets/public-game-2.png">
            </section>
        </label>
        <label class = "p-da card" for = "item-g-4" id="card-g-4">
            <h1>UniverseMaker</h1>
            <p>
                A small project made in C++. During University I made a bunch of these small applications to further my c++ knowledge.
                This one is a sort of universe sandbox. You can click on planets and make them inhabitable. The planet spins and the structures spin with it.
                Although not the most advanced application it does showcase a bunch of basic c++ concepts that can be build upon.
            </p>
            <p>
                Concepts shown: <br>
                - C++<br>      
                - Custom Engine<br>
                - 2D<br>
                - Randomness as a gameplay mechanic<br>
            </p>
            <p class = "stars">
                Difficulty: ★★★ <br>
                Amount Learned: ★★★★
            </p>
            <section class = "images">
                <img src = "/assets/Universe-1.png">
                <img src = "/assets/Universe-2.png">
            </section>
        </label>
        <label class = "y-da card" for = "item-g-5" id="card-g-5">
            <h1>Cv-Apllicatie</h1>
            <p>
                This was my resume when I first started as a developer. It showcases being able to write UI elements in a game-engine.
                This application is complete with animations, dynamic text area's, etc. Although the information is a bit outdated it still shows that eventhough this was my first interaction (2022) with larger scale UI.
                I could still produce a decent application with animations and more. My UI skills have seriously improved since then.
            </p>
            <p>
                Concepts shown: <br>
                - UI<br>      
                - Animations<br>
                - c#<br>
                - Unity<br>
            </p>
            <p class = "stars">
                Difficulty: ★★★ <br>
                Amount Learned: ★★★
            </p>
            <section class = "images">
                <img src = "/assets/Cv-1.png">
                <img src = "/assets/Cv-2.png">
            </section>
        </label>
    </section>
</section>