<section class = "main">
    <div class = "left">
        <section class = "title">
            <h1>Ibn Zwanckaert</h1>
            <h2>Fullstack Software Developer</h2>    
        </section>
        <p>The world of software has been a passion since I was 16 years old and has continued to amaze me ever since</p>    
    </div>
    <section class = "picture">
        <img src ="/assets/pic.jpg">
        <div class = "ring1"></div>    
        <div class = "ring2"></div>    
    </section>
</section>
