<section class = "main">
    <div class = "inset">
        <div class = "left">
            <section class = "title">
                <h1>Ibn Zwanckaert</h1>
                <h2>Fullstack Software Developer</h2>    
            </section>
            <p>The world of software has been a passion since I was 16 years old and has continued to amaze me ever since</p>   
            <section class = "socials">
                <a href="https://twitter.com/Ibn_Zwanckaert" class="fa fa-twitter"></a>
                <a href="https://www.linkedin.com/in/ibn-zwanckaert-329840290/" class="fa fa-linkedin"></a>
                <a href="https://github.com/ThatGhost" class="fa fa-github"></a>
                <a href="mailto: izwanckaert@gmail.com" class="fa fa-envelope"></a>
            </section> 
        </div>
    </div>
    <section class = "picture">
        <img src ="/assets/pic.jpg">
        <div class = "ring1"></div>    
        <div class = "ring2"></div>    
    </section>    
</section>
