@import "../../../assets/styles/main";
@import "../../../assets/styles/colors";


@property --gradient-rotation {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes spin {
    0% { --gradient-rotation: 0deg; }
    100% { --gradient-rotation: 360deg; }
}

.main {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    
    .inset {
        height: 96%;
        width: 96%;
        margin-left: 1.5%;
        margin-top: 1%;
        border-radius: 30px;
        position: relative;
        background-color: transparent;
        z-index: 1;

        &::before, &::after {
            z-index: 0;
            content: "";
            position: absolute;
            inset: 0.5rem;
            border-radius: inherit;
    
            background: linear-gradient(var(--gradient-rotation),$c-yellow, $c-blue);
            animation: spin 10s linear infinite; 
        }
        
        &::after {
            filter: blur(0.5rem);   
        }
    
        .left {
            width: 50%;
            height: 50%;
            position: absolute;
            left: 12%;
            top: 25%;
            z-index: inherit;

            @media only screen and (max-width: 499px) {
                width: 80%;
                top: 35%;
            }
    
            .title {
                background-color: $c-auqamarine;
                padding: 10px 20px 10px 20px;
                border-radius: 20px;
                width: fit-content;
    
                h1 {
                    color: $c-white;
                    font-size: 5vw;
                    margin: 0;
                    @include poppins-medium;      
                    
                    @media only screen and (max-width: 499px) {
                        font-size: 8vw;
                    }    
                }
    
                h2 {
                    color: $c-yellow;
                    font-size: 2vw;
                    padding-left: 2%;
                    margin-top: 1%;
                    @include poppins-medium;  
                    
                    @media only screen and (max-width: 499px) {
                        font-size: 4vw;
                    }    
                }
            }
    
            p {
                margin-left: 5%;
                margin-top: 2%;
                width: 75%;
                color: $c-white;
                font-size: 1.5vw;
                @include poppins-medium;
    
                @media only screen and (max-width: 499px) {
                    font-size: 4vw;
                    width: 80%;
                }         
            }

            .socials {
                width: 100%;
                margin-left: 4%;
                margin-top: 2%;

                @media only screen and (max-width: 499px) {
                    margin-top: 5%;
                }             

                .fa-twitter {
                    background: #55ACEE;
                    color: white;
                }

                .fa-linkedin {
                    background: #007bb5;
                    color: white;
                }

                .fa-github {
                    background: #2c4762;
                    color: white;
                }

                .fa-envelope {
                    background: red;
                    color: white;
                }

                .fa {
                    padding: 20px;
                    font-size: 30px;
                    width: 30px;
                    text-align: center;
                    text-decoration: none;
                    border-radius: 50%;
                    margin-left: 1%;

                    @media only screen and (max-width: 499px) {
                        font-size: 30px;
                        padding: 12px;
                        width: 30px;
                    }             
                }
            }
        }    
    }

    .picture {
        width: 40%;
        position: absolute;
        overflow: hidden;
        right: 0;
        top: 12%;
        z-index: 1;

        @media only screen and (max-width: 499px) {
            top: 5%;
            right: 20%;
            width: 60%;
        }             

        &::after {
            content: "";
            display: block;
            padding-bottom: 100%;
            z-index: inherit;
        }

        img {
            z-index: inherit;
            border-radius: 50%;
            border: 5px solid $c-auqamarine;
            position: absolute;
            top: 4%;
            right: -10%;
            height: 90%;

            @media only screen and (max-width: 499px) {
                right: 2%;
                height: 90%;    
            }                 
        }

        .ring1 {
            z-index: inherit;
            border-radius: 50%;
            border: 5px solid rgba($c-auqamarine, 0.5);
            position: absolute;
            top: 2%;
            right: -12%;

            width: 94%;
            height: 94%;

            @media only screen and (max-width: 499px) {
                display: none;    
            }                 
        }

        .ring2 {
            border-radius: 50%;
            border: 5px solid rgba($c-auqamarine, 0.2);
            position: absolute;
            top: 0;
            right: -14%;
            z-index: inherit;

            width: 98%;
            height: 98%;

            @media only screen and (max-width: 499px) {
                display: none;    
            }                 
        }
    }
}